@charset "utf-8";

.copylight {
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 2% 0;
  z-index: z(footer);

  @include mediaquery('max', $sp) {
    font-size: 0.8rem
  }
}