@charset "utf-8";

#menu-icon {
  z-index: z(menu);
}

nav {
  letter-spacing: 0.1rem;
  position: fixed;
  top: 0;
  left: 2%;
  z-index: z(nav);
  width: 15%;
  margin-top: $pc-log-height;
  letter-spacing: 0.05rem;

  @include mediaquery('max', $tablet) {
    display: none;
    z-index: z(nav);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding: 40% 15%;
    background-color: rgba($biscuit, .9);
    margin-top: 0;
  }

  .menu {
    font-family: 'Raleway', sans-serif;
  }

  .sp-nav-wrap {

    @include mediaquery('max', $tablet) {
      @include clearfix;
    }
  }

  h1 {

  @include mediaquery('max', $tablet) {
    float: right;
  }

    a {
      font-family: "svgfont";

      &:before {
        content: "\EA01";
        font-size: 5rem;
      }

      span {
        @include hide-text;
      }
    }
  }

  .menu-wrap {
    margin-bottom: 10%;

    @include mediaquery('max', $tablet) {
      float: left;
      margin-top: 5%;
      font-size: 1.6rem;
    }
  }

  .sns {
    display: flex;
    font-size: 1.3rem;

    @include mediaquery('max', $tablet) {
      margin-top: 5%;
      font-size: 2rem;
    }

    li:first-child {
      margin-right: 10px;
    }
  }

  .gallery-category {
    font-weight: bold;

    @include mediaquery('max', $tablet) {
      margin-top: 10%;
      font-size: 1.3rem;
      line-height: 2rem;
    }

    & li {
      a:before {
        content: "#";
        margin-right: 1%;
      }
    }
  }
}

#menu-icon {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-family: "svgfont";

  &:before {
    content: "\EA02";
    font-size: 1rem;
  }

  &.active:before {
    content: "\EA03";
  }

  @include mediaquery('max', $tablet) {
    display: block;
  }
}
