.pages {
  @include clearfix;
  width: 64%;

    @include mediaquery('max', $tablet) {
    padding: 0 4%;
    width: 100%;
    }


  section,
  figure {
    margin-bottom: 2%;
    width: 46%;

    @include mediaquery('max', $tablet-min) {
      width: 100%;
      margin-bottom: 20%;
    }
  }

  .image {
    font-family: "svgfont";
    float: right;

    &:before {
      content: "\EA01";
      font-size: 5rem;
      position: absolute;
      top: 8%;
      left: 50%;

      @include mediaquery('max', $tablet-min) {
        float: none;
        font-size: 4rem;
        top: -40px;
        left: 70%;
      }
    }

    @include mediaquery('max', $tablet-min) {
      width: 100%;
      position: relative;
      margin-top: 0;
      right: 0;
    }

    img {
      margin-bottom: 100vh;

      @include mediaquery('max', $tablet-min) {
        margin-bottom: 0;
      }
    }
  }

  .area1,
  .area2 {
    float: left;

    @include mediaquery('max', $tablet-min) {
      float: none;
      width: 100%;
    }
  }

  p {
    margin-bottom: 5%;
  }

  a {
    text-decoration: underline;
    display: inline-block;
  }

  .arrow {
    margin-top: 2%;

    &::before {
      font-family:"Font Awesome 5 Free";
      content: "\f054";
      font-weight: 900;
      margin-right: 5px;
      display: inline-block;
    }
  }

  .address {
    margin-bottom: 5%;

    h1 {
      font-weight: bold;
      margin-bottom: 3%;
    }

    dd {

      dl {
        display: flex;

        dd::before {
          content: ":";
          margin: 0 5px;
        }
      }
    }
  }


  .other {
    dl {
      display: flex;

      dd::before {
        content: ":";
        margin: 0 5px;
      }
    }
  }
}